<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PotentialMAX: Empowering Student Success through Data Analytics</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="templates/index.html">PotentialMAX</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Applications</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Advantages</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Results</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Unleashing the Potential of Our Youth: A Student Performance Analysis</span></h2>
          <p class="animate__animated fanimate__adeInUp">In collaboration with <b><i>Smart Internz</i></b> and <b><i>VIT Bhopal</i></b>. <br><br>Aims to leverage data analytics techniques to gain insights into student performance and unleash the full potential of young learners.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Purpose of <b><i>PotentialMAX</i></b></h2>
          <p class="animate__animated animate__fadeInUp"> The purpose of the project is to leverage data analytics to unleash the potential of our youth by gaining insights into student performance, facilitating targeted interventions, improving resource allocation, informing evidence-based policies, and fostering a data-driven education system. By utilising data effectively, it aims to enhance educational outcomes and create a supportive environment that empowers students to reach their full potential.


          </p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>


      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>Overview</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              The project aims to foster a data-driven education system that empowers students and provides them with the necessary support to reach their full potential. By leveraging data analytics, the project endeavours to create a supportive and inclusive environment that maximises the academic growth and success of our youth.
            </p>
            <p style="color: #fc8129;">
              <b><i>Proposed Solution includes :-</i></b>
              <ul>
                <li><i class="ri-check-double-line"></i> <p>Data Collection and Integration</p></li>
                <li><i class="ri-check-double-line"></i> <p>Data Analysis Techniques</p>
                  <ol>
                    <li><p>Descriptive Analytics</p></li>
                    <li><p>Predictive Analytics</p></li>
                    <li><p>Correlation Analysi</p></li>
                    <li><p>Data Visualization</p></li>
                  </ol>
                </li>
              </ul>
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              The proposed solution aims to leverage data analytics to analyse student performance and unleash the potential of our youth. By utilising comprehensive data sets, including academic records, extracurricular activities, and socio-economic backgrounds, we can gain valuable insights into the factors influencing student success. This analysis will enable educators, policymakers, and parents to make informed decisions and implement targeted interventions to support students' academic growth and development.

            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Dashboard Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="section-title" data-aos="zoom-out">
          <h2>Analysis</h2>
          <p>Dashboards<p>
        </div>
        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3" data-aos="zoom-in">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Dashboard 1: Student's Performance</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Dashboard 2 : Influence on Ethnicity/Race by Other Parameter</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
                <div class='tableauPlaceholder' id='viz1688120351510' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt='Performance of Students ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pe&#47;PerformanceofStudents_16881192613010&#47;Dashboard1&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                        <param name='name' value='PerformanceofStudents_16881192613010&#47;Dashboard1' />
                        <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pe&#47;PerformanceofStudents_16881192613010&#47;Dashboard1&#47;1.png' /> 
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='en-US' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1688120351510');
                    var vizElement = divElement.getElementsByTagName('object')[0];                    
                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
                    else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';} 
                    else { vizElement.style.width='100%';vizElement.style.height='1427px';}
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
                <div class='tableauPlaceholder' id='viz1688121170312' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt='How ethnicity is related with other parameter ? ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;et&#47;ethnicity-otherparameter&#47;Dashboard2&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                        <param name='embed_code_version' value='3' /> 
                        <param name='site_root' value='' />
                        <param name='name' value='ethnicity-otherparameter&#47;Dashboard2' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;et&#47;ethnicity-otherparameter&#47;Dashboard2&#47;1.png' /> 
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
                        <param name='language' value='en-US' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1688121170312');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='100%';vizElement.style.height= '1700px';}
                    else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.1)+'px';}
                    else { vizElement.style.width='100%';vizElement.style.height='1627px';}
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
              </div>
        </div>
      </div>
    </section><!-- End Dashboard Section -->

    <!-- ======= Story Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="row" data-aos="zoom-out">
              <div class="section-title" data-aos="zoom-out">
                <p>Student's Performance Story<p>
              </div>
                <br>
                <div class='tableauPlaceholder' id='viz1688122146973' style='position: relative'>
                    <noscript>
                        <a href='#'>
                            <img alt='Final Story ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;JX&#47;JXF9KR7ST&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='path' value='shared&#47;JXF9KR7ST' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;JX&#47;JXF9KR7ST&#47;1.png' /> 
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='en-US' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1688122146973');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
            </div>
        </div>
    </section><!-- End Story Section -->


    <!-- ======= Applications Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Applications</h2>
          <p>Where our proposed solution can be used</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Education Policy Development</a></h4>
              <p class="description">Using the study as a guide, local, regional, or national education policy can be created.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
              <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Student Support Systems</a></h4>
              <p class="description">The study can assist educational institutions in setting up efficient student support systems.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Targeted Interventions and Support</a></h4>
              <p class="description">Based on their individual needs, the solution provides customised interventions for at-risk kids.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
              <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Continuous Improvement and Assessment</a></h4>
              <p class="description">The solution enables continuous evaluation and monitoring of student performance.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
              <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Parental Involvement and Support</a></h4>
              <p class="description">The analysis can help parents learn how to encourage their kids' growth and help them reach their full potential</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
              <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Resource Allocation and Funding Prioritisation</a></h4>
              <p class="description">The study can help educational systems prioritise their use of resources.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Applications Section -->

    <!-- ======= Advantages Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Advantages</h2>
          <p>Why we are using this</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <h4 style="color:#FF7F50"><b><i>1. Data-Driven Insights</i></b></h4>
              <p> The proposed solution leverages data analytics techniques to provide valuable insights into student performance.</p>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <h4 style="color:#FF7F50"><b><i>3. Early Intervention</i></b></h4>
              <p>Predictive analytics helps identify at-risk students early on, allowing for proactive interventions.</p>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <h4 style="color:#FF7F50"><b><i>5. Collaboration and Partnerships</i></b></h4>
              <p>A student performance analysis encourages cooperation between stakeholders, such as educators, decision-makers in the public sector, parents, and members of the community.</p>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="margin-top:20px">
              <h4 style="color:#FF7F50; margin-top: 3px; margin-left: 10px;"><b><i>4. Personalised Learning</i></b></h4>
              <p>The project enables personalised learning approaches by tailoring instruction and support to individual student needs.</p>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <h4 style="color:#FF7F50"><b><i>2. Evidence-based Decision Making</i></b></h4>
              <p>Stakeholders may reach well-informed, evidence-based judgements by examining student performance data and spotting trends and patterns.</p>
          </div>
        </div>

      </div>
    </section><!-- End Advantages Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Results</h2>
          <p>What we are infering</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box featured" data-aos="zoom-in">
              <span class="advanced">Results</span>
              <h3>Sheets Inference</h3>
              <div style="overflow:scroll; height:500px;">
              <ul>
                <li>On the basis of gender, females are performing better than males.</li>
                <li>On the basis of parental level of education, student&acute;s whose parents having master&acute;s degree are showing the best performance.</li>
                <li>On the basis of ethnicity and race, group E had the most promising results</li>
                <li>On the basis of test preparation, student who had been prepared for the test are showing the better results.</li>
                <li>On the basis of lunch, students who are having standard lunch are showing better results.</li>
                <li>On the basis of the scores in three subjects, the average reading score is best, then comes the average writing score and in the last comes is the average maths score.</li>
              </ul>
            </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <span class="advanced">Results</span>
              <h3>Dashboard-1 Inference </h3>
              <ul>
                <br>
                <li>Dashboard 1 provides the information about the students&acute; performance with respect to each domain.</p></li>
                <br>
                <li><p>It shows the same results as inferred above.</p></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
              <span class="advanced">Results</span>
              <h3>Dashboard-2 Inference</h3>
              <ul>
                <li>Dashboard 2 provides information about how ethnicity is related with each other dimensions.</li>
                <li>It shows the largest number of students are from Group C. Students from Group A are performing the worst in all scenarios and students from Group E are performing the best.</li>
                <li>Females are performing best in each group. </li>
                <li>Students who have completed the test preparation are performing the best from each group.</li>
                <li>Students from group E whose parental level degree is Master&acute;s degree are the best performers.</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="300">
              <span class="advanced">Results</span>
              <h3>Story Inference</h3>
              <ul>
                <br>
                <li><p>Story provides information about the student&acute;s performance.</p></li> 
                <br>
                <li><p>From the whole story, it can be inferred that the females from group E with standard lunch whose parental level of education is Master&acute;s degree and completed the test preparation have shown the most promising results.</p></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ayush Jerath</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Disha Chauhan</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Avirash Badgainyan</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="static/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Navdha Kadian</h4>
                <span>Project Designer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>VIT Bhopal University, Kotri Kalan, Ashta, Near, Indore Road, Bhopal, Madhya Pradesh 466114</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>Group571@vitbhopal.ac.in</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 892839xxxx</p>
                <p>+011 3454xxxx</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="static/forms/contact.php" method="post" role="form" class="php-email-form">
            <form action="static/forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>PotentialMAX</h3>
      <p>Empowering Student Success through Data Analytics</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>PotentialMAX</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href=""><strong><span>Group 571</span></strong></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>